<html>
  <head>
    <link rel="stylesheet" type="text/css" href="resource/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="resource/css/style.css" />
  </head>
  <body>
    <div data-sw-component="modals">Placeholder for Modal component</div>
    <div data-sw-view="">
      Silk views are loaded in here
    </div>
    <script type="text/javascript" src="resource/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="resource/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="resource/js/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="resource/js/silk-modals.js"></script>
    <script type="text/javascript" src="resource/js/silk-utils.js"></script>
    <script type="text/javascript" src="resource/js/silk-modals.js"></script>
    <script type="text/javascript" src="resource/js/silk-windows.js"></script>
    <script type="text/javascript" src="resource/js/silk-gui.js"></script>
    <script type="text/javascript">
      listAndDisplayProjects(spinOnceLoaded = true);
      tinymce.init({
          selector: "textarea",
          plugins: [
              "advlist autolink lists link image charmap print preview anchor",
              "searchreplace visualblocks code fullscreen",
              "insertdatetime media table contextmenu paste"
          ],
          toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
      });
      $(document).on('focusin', function(e) {
        if ($(event.target).closest(".mce-window").length) {
          e.stopImmediatePropagation();
        }
      });
    </script>
  </body>
</html>
