<html>
  <head>
    <link rel="stylesheet" type="text/css" href="resource/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="resource/css/style.css" />
    <link rel="stylesheet" type="text/css" href="resource/css/frameless-style.css" />
  </head>
  <body>
    <div data-sw-component="modals">Placeholder for Modal component</div>
    <div data-sw-view="">
      Silk views are loaded in here
    </div>
    <script type="text/javascript" src="resource/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="resource/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="resource/js/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="resource/js/titlebar.js"></script>
    <script type="text/javascript" src="resource/js/frameless-window.js"></script>
    <script type="text/javascript" src="resource/js/silk-modals.js"></script>
    <script type="text/javascript" src="resource/js/silk-utils.js"></script>
    <script type="text/javascript" src="resource/js/silk-modals.js"></script>
    <script type="text/javascript" src="resource/js/silk-windows.js"></script>
    <script type="text/javascript" src="resource/js/silk-gui.js"></script>
  </body>
</html>
