<html>
  <head>
    <title>Silk Web Toolkit</title>
    <link rel="stylesheet" type="text/css" href="resource/css/style.css" />
    <link rel="stylesheet" type="text/css" href="resource/css/frameless-style.css" />
    <script src="resource/js/titlebar.js"></script>
    <script src="resource/js/frameless-window.js"></script>
    <script src="resource/js/silk-gui.js"></script>
  </head>
  <body>
    <div class="content">
      <div id="silk-view">
        Content will go here
      </div>
    </div>
  </body>
</html>
