<html>
  <head>
  </head>
  <body>
    <div>
      <div id="chooser-div" class="directory-chooser">
        <input type="button" value="Recent Projects" 
               onclick="showProjectList(true);" /> 
        <input type="button" value="New Project" 
               onclick="document.getElementById('chooser').click();" /> 
        <input id="chooser" type="file" nwdirectory name="New Project" 
               style="display:none;" onchange="changeProject(this.value);"/>
      </div>
      <ul id="project-list" class="project-list"></ul>
      <input type="hidden" id="current-project" name="current-project" value="" />     
      <script>
        loadLastProject();
        listProjects();
      </script>
    </div>
  </body>
</html>
