<html>
  <head>
  </head>
  <body>
    <div class="simple-options">
      <div class="auto-spin">
        <label for="autospin_cbx">Auto Spin</label>
        <input type="checkbox" id="autospin_cbx" onclick="autospin(this.checked);" />
      </div>
      <div id="chooser-div" class="directory-chooser">
        <input id="chooser" type="file" nwdirectory 
               onchange="document.getElementById('current-project').value = this.value;"/>
      </div>
      <div class="manual-spin">
        <input type="button" id="spin_btn" value="Manual Spin" onclick="spin('');"/>
      </div>
    </div>
  </body>
</html>
