body {
  margin-top: 50px;
}

::-webkit-scrollbar-thumb {
  display: none;
}

.top-titlebar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  border-bottom: 1px solid #eee;
}

.bottom-titlebar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 32px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.left-titlebar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 100%;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.right-titlebar {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 32px;
  height: 100%;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.top-titlebar-icon,
.bottom-titlebar-icon {
  position: absolute;
  left: 0px;
  margin-top: 0px;
}

.left-titlebar-icon {
  position: absolute;
  left: 0px;
  margin-top: 0px;
}

.right-titlebar-icon {
  position: absolute;
  top: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.top-titlebar-text,
.bottom-titlebar-text {
  position: absolute;
  left: 4px;
  width: 80%;
  margin-top: 6px;
  margin-bottom: 6px;
  font-style: Arial;
  font-size: 16pt;
  color: black;
}

.left-titlebar-text {
  position: absolute;
  bottom: 32px;
  width: 100px;
  margin-left: 6px;
  margin-right: 6px;
  font-style: Arial;
  font-size: 12pt;
  color: black;
  -webkit-transform: rotate(-90deg) translate(0, 100%);
  -webkit-transform-origin: 0% 100%;
}

.right-titlebar-text {
  position: absolute;
  top: 0px;
  width: 100px;
  margin-left: 6px;
  margin-right: 6px;
  font-style: Arial;
  font-size: 12pt;
  color: black;
  -webkit-transform: rotate(90deg) translate(0, 100%);
  -webkit-transform-origin: 0% 200%;
}

.top-titlebar-close-button,
.bottom-titlebar-close-button {
  position: absolute;
  right: 11px;
  width: 17px;
  height: 17px;
  margin-top: 16px;
  margin-bottom: 6px;
  -webkit-app-region: no-drag;
}

.left-titlebar-close-button {
  position: absolute;
  top: 11px;
  width: 17px;
  height: 17px;
  margin-left: 6px;
  margin-right: 6px;
  -webkit-app-region: no-drag;
}

.right-titlebar-close-button {
  position: absolute;
  bottom: 11px;
  width: 17px;
  height: 17px;
  margin-left: 6px;
  margin-right: 6px;
  -webkit-app-region: no-drag;
}

.top-titlebar-divider {
  position: absolute;
  left: 0px;
  top: 31px;
  width: 100%;
  height: 1px;
}

.bottom-titlebar-divider {
  position: absolute;
  left: 0px;
  bottom: 31px;
  width: 100%;
  height: 1px;
}

.left-titlebar-divider {
  position: absolute;
  left: 31px;
  top: 0px;
  width: 1px;
  height: 100%;
}

.right-titlebar-divider {
  position: absolute;
  right: 31px;
  top: 0px;
  width: 1px;
  height: 100%;
}
