html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  background-color:#ddd;
}

div.content {}

div.jquery-directory-chooser,
div.simple-spin-options {
  padding:10px;
  width: 100%;
  text-align: center;
}

div.basic-logger {
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 100%;
  height: 81%;
}

textarea.logger {
  width: 100%;
  height: 100%;
  background-color:black;
  color:white;
  border:0px;
  padding:5px;
}
