html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  background-color:#ddd;
}

a {
  text-decoration: none;
}

div {
  margin: 0px;
  padding: 0px;
}

div.content {
  margin: 10px;
  padding: 0px;
}

div.simple-spin-options {
  width: 100%;
  height: 30px;
}

div.simple-spin-options div.auto-spin {
  width: 20%;
  margin-top: 3px;
  float: left;
}

div.simple-spin-options div.directory-chooser {
  width: 60%;
  float: left;
  text-align: center;
}

div.simple-spin-options div.manual-spin {
  float: right;
  text-align: right;
}

div.last-spin-logger {}

div.last-spin-logger div {
  width: 100%;
  height: 25px;
  border: 1px dashed #000;
  padding:5px;
}

div.last-spin-logger div.error {
  background-color: #ffbfbf;
}

div.last-spin-logger div.success {
 background-color: #009933;
}

div.last-spin-logger div span {
  float: left;
}

div.last-spin-logger div a {
  float: right;
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 2px;
  text-align: center;
}
