html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 4px;
}

div.sidebar {
  height: 100%;
  overflow:auto;
  padding-right: 4px;
  border-right: 1px solid #eee;
}

div.sidebar ul.project-list {}

div.sidebar ul.project-list li {}

div.sidebar ul.project-list li .project-not-found {
  text-decoration: line-through;
}

div.content {
  margin-left: -20px;
}

div.last-spin-logger  div {
  font-weight: bold;
}

div.last-spin-logger  button {
  float: right;
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 2px;
  text-align: center;
}
