<html>
  <body>
    <p>
      <button class="btn btn-primary" data-toggle="modal" data-target="#sourceModal">Add Source</button>
    </p>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Source 1</a>
            <span class="badge">4</span>
            <button class="btn btn-primary" data-toggle="modal" data-target="#sourceModal">Edit</button>
            <button class="btn btn-default">Delete</button>
          </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <button class="btn btn-primary" data-toggle="modal" data-target="#dataModal">New</button>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Last Modified</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>File1</td>
                  <td>01/01/2013: 12:31:23<td>
                  <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#dataModal">Edit</button>
                    <button class="btn btn-default">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td>File2</td>
                  <td>01/01/2013: 12:01:39<td>
                  <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#dataModal">Edit</button>
                    <button class="btn btn-default">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td>File3</td>
                  <td>01/01/2013: 12:31:23<td>
                  <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#dataModal">Edit</button>
                    <button class="btn btn-default">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td>File4</td>
                  <td>01/01/2013: 12:01:39<td>
                  <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#dataModal">Edit</button>
                    <button class="btn btn-default">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Source 2</a>
            <span class="badge">4</span>
            <button class="btn btn-primary" data-toggle="modal" data-target="#sourceModal">Edit</button>
            <button class="btn btn-default">Delete</button>
          </div>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <button class="btn btn-primary" data-toggle="modal" data-target="#dataModal">New</button>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Last Modified</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>File1</td>
                  <td>01/01/2013: 12:31:23<td>
                  <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#dataModal">Edit</button>
                    <button class="btn btn-default">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td>File2</td>
                  <td>01/01/2013: 12:01:39<td>
                  <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#dataModal">Edit</button>
                    <button class="btn btn-default">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td>File3</td>
                  <td>01/01/2013: 12:31:23<td>
                  <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#dataModal">Edit</button>
                    <button class="btn btn-default">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td>File4</td>
                  <td>01/01/2013: 12:01:39<td>
                  <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#dataModal">Edit</button>
                    <button class="btn btn-default">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Source 3</a>
            <span class="badge">4</span>
            <button class="btn btn-primary" data-toggle="modal" data-target="#sourceModal">Edit</button>
            <button class="btn btn-default">Delete</button>
          </div>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <button class="btn btn-primary" data-toggle="modal" data-target="#dataModal">New</button>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Last Modified</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>File1</td>
                  <td>01/01/2013: 12:31:23<td>
                  <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#dataModal">Edit</button>
                    <button class="btn btn-default">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td>File2</td>
                  <td>01/01/2013: 12:01:39<td>
                  <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#dataModal">Edit</button>
                    <button class="btn btn-default">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td>File3</td>
                  <td>01/01/2013: 12:31:23<td>
                  <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#dataModal">Edit</button>
                    <button class="btn btn-default">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td>File4</td>
                  <td>01/01/2013: 12:01:39<td>
                  <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#dataModal">Edit</button>
                    <button class="btn btn-default">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="sourceModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">/span></button>
            <h4 class="modal-title" id="sourceModalLabel">Souce</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="source_name">Name</label>
                <input type="text" name="source_name" id="source_name">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="alert(document.getElementById('html-data').value)">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">/span></button>
            <h4 class="modal-title" id="dataModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="source_name">Name</label>
                <input type="text" name="data_name" id="data_name">
              </div>
              <div class="form-group">
                <label for="content_name">Content</label>
                <textarea id="data_content" name="data_content">

                </textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="save()">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
