<html>
  <body>
    <div class="panel-group" id="source"></div>
    <template id="sourceHeader">
      <h3>Sources
        <div class="pull-right">
          <button class="btn btn-default small" data-toggle="modal" data-target="#sourceModal" onclick="loadSourceModal(this)">Add</button>
        </div>
      </h3>
    </template>
    <template id="sourceRow">
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#source" data-target="#collapse">
          <div class="panel-title" style="cursor:pointer;">
            <a title="Click to change" data-toggle="modal" href="#sourceModal" onclick="loadSourceModal(this)"></a>
            <span class="pull-right badge"></span>
          </div>
        </div>
        <div class="panel-collapse collapse">
          <div class="panel-body" style="max-height:50%; overflow:auto;">
            <h4>Items
              <div class="pull-right">
                <button class="btn btn-default small" data-toggle="modal" data-target="#dataModal" onclick="loadDataModal(this)">Add</button>
              </div>
            </h4>
            <ul class="nav nav-pills nav-stacked"></ul>
          </div>
        </div>
      </div>
    </template>
    <template id="dataRow">
      <li><a class="list-group-item" title="Click to change" data-toggle="modal" href="#dataModal" onclick="loadDataModal(this)"></a></li>
    </template>
  </body>
</html>
