<html>
  <body>
    <div id="footer-panel">
      <div class="container">
	      <footer>
	      	<div id="log-poker">
              <button id="log_button">Log Entry</button>
	      	</div>
	        <div>
	          <a href="#" onclick="aboutUs();">
	            <img src="resource/image/spun-with-silk.png" alt="spun with Silk" />
	            <br />
	            <span data-sw-component="version">Component will go here</span>
	          </a>
	        </div>
	      </footer>
	    </div>
    </div>
  </body>
</html>
