<html>
  <body>
    <div class="row">
      <div class="col-xs-5 col-sm-4">
        <div class="sidebar">
          <div data-sw-component="left-panel">left panel</div>
        </div>
      </div>
      <div class="col-xs-7 col-sm-8">
        <div class="content">      
          <div data-sw-component="right-panel">right panel</div>
        </div>
      </div>
      <div data-sw-component="footer-panel">footer</div>
    </div>
    <div data-sw-component="templates">templates</div>
  </body>
</html>
