<html>
  <body>
    <!-- About Us -->
    <div class="modal fade" id="aboutUsModal" tabindex="-1" role="dialog" aria-labelledby="aboutUsModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="aboutUsModalLabel">About Us</h4>
          </div>
          <img src="resource/image/silk-cms.png" alt="Silk CMS" />
          <div class="modal-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Nick Featch</td>
                  <td>nick.featch@gmail.com</td>
                </tr>
                <tr>
                  <td>Ross McDonald</td>
                  <td>ross@bheap.com</td>
                </tr>
                <tr>
                  <td>Barrie McGuire</td>
                  <td>barrie@bheap.com</td>
                </tr>
                <tr>
                  <td>Andi North</td>
                  <td>andi@mangopear.co.uk</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="c">
            <span data-sw-component="version">Component will go here</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Source -->
    <div class="modal fade" id="sourceModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">/span></button>
            <h4 class="modal-title" id="sourceModalLabel">Source</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="source_name">Name</label>
                <input type="text" name="source_name" id="source_name">
              </div>
              <input type="hidden" value="hidden_source_path" id="hidden_source_path" />
              <input type="hidden" value="hidden_source_name" id="hidden_source_name" />
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" onclick="deleteSourceModal()">Delete</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" onclick="saveSourceModal()">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Data -->
    <div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">/span></button>
            <h4 class="modal-title" id="dataModalLabel">Item</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="data_name">Name</label>
                <input type="text" name="data_name" id="data_name">
              </div>
              <div class="form-group">
                <label for="data_name">Title</label>
                <input type="text" name="data_title" id="data_title">
              </div>
              <div class="form-group">
                <label for="content_name">Summary</label>
                <textarea id="data_summary_html" name="data_summary_html"></textarea>
              </div>
              <div class="form-group">
                <label for="content_name">Body</label>
                <textarea id="data_body_html" name="data_body_html"></textarea>
              </div>
              <div class="form-group">
                <label for="data_name">Author</label>
                <input type="text" name="data_author" id="data_author">
              </div>
              <input type="hidden" value="hidden_data_path" id="hidden_data_path" />
              <input type="hidden" value="hidden_data_name" id="hidden_data_name" />
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" onclick="deleteDataModal()">Delete</button>
            <button type="button" class="btn btn-success pull-right" data-dismiss="modal" onclick="saveDataModal()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
