<html>
  <body>
    <div id="logger" class="logger" />
    <template id="successLog">
      <div class="alert alert-success">
        <span></span>
        <button class="btn btn-success btn-sm" onclick="openBrowserWindow(this.getAttribute('data-id'));">View</button>
      </div>
    </template>
    <template id="errorLog">
      <div class="alert alert-danger">
        <span></span>
      </div>
    </template>
    <template id="infoLog">
      <div class="alert alert-info">
        <span></span>
      </div>
    </template>
  </body>
</html>
