<html>
  <body>
    <!-- 
      home screen with no projects
    -->
    <template id="lp-home-nproj">
    </template>

    <template id="rp-home-nproj">
      <h2>No projects found</h2>
      <p>You have no Silk sites.  Please create one with the button below or use the menu.</p>
      <button id="loadProject" class="btn btn-primary"
              onclick="document.getElementById('project-chooser').click();">Load project</button>
      <!-- works from html 5 template -->
      <!--<button id="project-chooser" class="btn btn-primary">Scheisse JQuery</button>-->
      <input id="project-chooser" type="file" nwdirectory style="display:none;" />
    </template>


    <!--
      home screen with projects
    -->
    <template id="lp-home-proj">
      <div id="projects-list">
        <h2>Projects</h2>
        <ul id="projects">
          <li class="project"></li>
        </ul>
      </div>
    </template>

    <template id="rp-home-proj">
      <h2>Yay projects found</h2>
      <p>Stuff.</p>
    </template>
  </body>
</html>
