<html>
  <body>
    <!--
      Definitions:
        * layout : 
            overall presentation configuration
            defined in components/layout.html
            contains a number of panels

        * panel :
            defined in layout above
            eg footer-panel.html
            may contain 0 or more module templates

        * module template :
            defined in panel above
            usually has markup associated with it
            the moduleSelector (name) matches the id of the associated markup
            eg projects-list
    -->


    <!-- 
      home screen with no projects
    -->
    <template id="lp-home-nproj">
    </template>

    <template id="rp-home-nproj">
      <h2>No projects found</h2>
      <p>You have no Silk sites.  Please create one with the button below or use the menu.</p>
      <button id="loadProject" class="btn btn-primary"
              onclick="document.getElementById('project-chooser').click();">Load project</button>
      <!-- works from html 5 template -->
      <!--<button id="project-chooser" class="btn btn-primary">Scheisse JQuery</button>-->
      <input id="project-chooser" type="file" nwdirectory style="display:none;" />
    </template>


    <template id="projects-list">
      <div id="projects-list">
        <h2>Projects</h2>
        <ul id="projects">
          <li class="project"></li>
        </ul>
      </div>
    </template>

    <template id="spin-status">
      <div id="spin-status">
        <p class="status">temporary blurb</p>
      </div>
    </template>
  </body>
</html>
