<html>
  <body>
    <img src="resource/image/silk-blue.png" alt="Silk Web Toolkit" />
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nick Featch</td>
          <td>nick.featch@gmail.com</td>
        </tr>
        <tr>
          <td>Ross McDonald</td>
          <td>ross@bheap.com</td>
        </tr>
        <tr>
          <td>Barrie McGuire</td>
          <td>barrie@bheap.com</td>
        </tr>            
        <tr>
          <td>Andi North</td>
          <td>andi@mangopear.co.uk</td>
        </tr>
      </tbody>
    </table>
  </body>
</table>
