<html>
  <head>
  </head>
  <body>
    <div class="about-us">
      <img src="resource/image/silk-blue.png" alt="Silk Web Toolkit" />
      <p>
        The Silk Web Toolkit is brought to you with pride by Bheap Ltd and a team of volunteers.  We had an itch... so Silk is... scratchy ?
      </p>
      <table class="table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nick Featch</td>
            <td>nick.featch@gmail.com</td>
          </tr>
          <tr>
            <td>Ross McDonald</td>
            <td>ross@bheap.com</td>
          </tr>
          <tr>
            <td>Barrie McGuire</td>
            <td>barrie@bheap.com</td>
          </tr>            
          <tr>
            <td>Andi North</td>
            <td>andi@mangopear.co.uk</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</table>
