<html>
  <head>
  </head>
  <body>
    <p>
      The Silk Web Toolkit is brought to you with pride by Bheap Ltd and a team of volunteers.  We had an itch... so Silk is... scratchy ?
    </p>
    <table class="table table-striped" id="teamTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ross McDonald</td>
          <td>Core committer</td>
          <td>ross@bheap.com</td>
        </tr>
        <tr>
          <td>Barrie McGuire</td>
          <td>Core committer</td>
          <td>barrie@bheap.com</td>
        </tr>            
        <tr>
          <td>Nick Featch</td>
          <td>Committer</td>
          <td>nick.featch@gmail.com</td>
        </tr>
        <tr>
          <td>Matthew Taylor</td>
          <td>Committer</td>
          <td>matt.ross.taylor@gmail.com</td>
        </tr>
        <tr>
          <td>Andi North</td>
          <td>Committer</td>
          <td>andi@mangopear.co.uk</td>
        </tr>
        <tr>
          <td>Simon Cross</td>
          <td>Contributor</td>
          <td>simon.cross@banoop.com</td>
        </tr>
        <tr>
          <td>Claudius Spellmann</td>
          <td>Contributor</td>
          <td>claudius.spellmann@gmail.com</td>
        </tr>
      </tbody>
    </table>
  </body>
</table>
