<html>
  <head>
    <meta name="template" content="frameless" />
  </head>
  <body>
    <div class="row">
      <div class="col-xs-5 col-sm-4">
        <div class="sidebar">
          <div data-sw-component="recent-projects">Component will go here</div>
        </div>
      </div>
      <div class="col-xs-7 col-sm-8">
        <div class="content">
          <div data-sw-component="spin-status">Component will go here</div>
          <br /><br />
          <div data-sw-component="data">Component will go here</div>
        </div>
      </div>
      <div data-sw-component="about-us">Component will go here</div>
    </div>
  </body>
</html>
